* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EAEAEA
}

header {
    padding: 10px 0;
    background-color: #FFFFFF;
}

.logo {
    display: flex;
    justify-content: center;

}

.lg {
    width: 50%;
}


.position {
    text-align: center;

    background: #EAEAEA;
    padding: 10px 0;
}

::placeholder {
    color: black;
    font-size: 1.5em;
}

input {
    border: none;
    height: 30px;
    background: #EAEAEA;

}

.fa-solid {
    padding: 10px;
}

.title {
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;

}

.start,
title,
.subtitle {
    text-align: center;
    width: 100%;
    background: #D2D2D2;
    padding: 20px 10px;
}

.subtitle {
    padding: 20px 0;
}

.btn {
    position: relative;
    display: block;
    text-decoration: none;
    width: 220px;
    height: 50px;
    margin: 10px auto;
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 1px 1px 2px #636363cc;
    z-index: 1;
    color:
        #FFFFFF
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-bottom: 15px;
}

.filtres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.filtre1,
.filtre2,
.filtre3 {

    flex-direction: row;
    justify-content: center;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background: #ececec;
    border-radius: 20px;
    margin: 10px 20px 20px 25px;
    box-shadow: 2px 2px 7px #F6F6F6;
    width: 100%;
    height: 72.38px;
    padding-left: 40px;
}



.number1,
.number2,
.number3 {
    border-radius: 50%;
    background-color: #9356dc;
    color: white;
    position: absolute;
    left: 28px;
    padding: 2px 10px;
}

.fa-solid:hover {
    color: #9356dc;
}

.fonctionnement {
    background-color: #FFFFFF;
    padding-top: 30px;
}

h2 {
    padding: 10px 30px;
}

.aftermiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

figcaption {
    margin: 20px;
    position: relative;

}

.fa-heart {
    font-size: 1.5rem;
    position: absolute;
    right: 2px;
    bottom: 25px;
    opacity: 1;
}

.fa-heart:hover {



    color: transparent;


    background-image: linear-gradient(163deg, #ee73da 0%, #a05bdc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;
}

.fa-utensils .card1,
.card2,
.card3,
.card4 {



    margin-top: 20px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;

}

.card1,
.card2 {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.pic1,
.pic2,
.pic3,
.pic4 {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.new1,
.new2 {
    position: absolute;
    top: 25px;
    right: 25px;
    background: #99E2D0;
    border-radius: 2px;

}

footer {


    background: rgba(23, 23, 23, 0.8);

}

.ft {
    padding: 20px;
}

.footerlg {
    color: rgb(245, 244, 241);
    font-family: 'Shrikhand', cursive;
    font-size: larger;
    margin: 0;
    padding-bottom: 20px;
}

.fa-utensils,
.fa-handshake-angle {
    color: white;
}

.ft1,
.ft2,
.ft3,
.ft4 {
    text-decoration: none;
    color: white;
}

/*MEDIA QUERIES*/
@media (min-width: 767px) {
    footer {
        text-align: right;
    }

    .footerlg {
        font-family: "Shrikhand", "sans-serif";
        padding: 5px 0 20px 0;
    }

    footer a {
        color: white;
    }

    footer ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer ul li {
        padding: 5px 0 5px 0;
    }

    footer ul .fa-utensils {
        margin-right: 12px;
    }

    footer ul .fa-hands-helping {
        margin-right: 5px;
    }

    .start {
        background: #f6f6f6;
        text-align: center;
        width: 100%;
        padding: 40px 0;
    }


    .lg {
        width: 25%;
    }

    .start,
    .middle,
    .aftermiddle {
        padding: 70px;
    }

    .filtres {
        display: flex;
        flex-direction: row;
    }

    .number1,
    .number2,
    .number3 {
        position: relative;
        left: 1px;
        border-radius: 50%;
        background-color: #9356dc;
        color: white;
        padding: 2px 10px;
    }


    .aftermiddle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    .card1,
    .card2,
    .card3,
    .card4 {


        width: 40%;
        height: 251px;
    }
}

/* menu */

.headerimg {
    width: 100%;
}

.menutitle {
    font-family: 'Shrikhand', cursive;
    font-size: 17px;
    display: flex;
    justify-content: center;
}