* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;


}

img {
    object-fit: cover;
}

.loading-spinner {
    height: 100vh;
    width: 100vw;

    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);

    position: fixed;

    display: flex;
    -webkit-box-pack: center;

    justify-content: center;
    -webkit-box-align: center;

    align-items: center;

    animation: 3s ease forwards hide-animation;
}

.loader {
    position: absolute;
    border: 16px solid #f3f3f3;

    border-top: 16px solid #008766;

    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes hide-animation {

    0%,
    99% {
        opacity: 1;
        z-index: 1000;
    }

    100% {
        opacity: 0;
        z-index: -10;
    }
}

@keyframes hide-animation {

    0%,
    99% {
        opacity: 1;
        z-index: 1000;
    }

    100% {
        opacity: 0;
        z-index: -10;
    }
}


header {
    padding: 10px 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;

}

.lg {
    width: 50%;
}

.position {
    text-align: center;

    background: #EAEAEA;
    padding: 10px 0;
    height: 70px;
    border-top: 2px solid #c0b8b848;
    ;
}

::placeholder {
    color: black;
    font-size: 1.5em;
}

input {
    border: none;
    height: 30px;
    background: #EAEAEA;
    margin: 10px;

}



.title {
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;

}

.start,
title,
.subtitle {
    text-align: center;
    width: 100%;

    padding: 20px 10px;
}

.subtitle {
    padding: 20px 0;
    font-size: 18px;
    font-weight: 300;
}

.btn {
    position: relative;
    display: block;
    text-decoration: none;
    width: 220px;
    height: 50px;
    margin: 10px auto;
    border-radius: 30px;
    border-style: none;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 1px 1px 2px #636363cc;
    z-index: 1;
    color:
        #FFFFFF
}

.btn:hover {
    opacity: 0.8;
}


.filtres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.filtre1,
.filtre2,
.filtre3 {

    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    background: #F6F6F6;
    border-radius: 20px;
    margin: 10px;
    width: 100%;
    height: 72.38px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

}

.describe {
    font-size: 16px;
    padding: 20px;
}

.number1,
.number2,
.number3 {
    border-radius: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #9356dc;
    color: white;
    position: absolute;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.filtreicon {
    color: #7E7E7E;
}

.filtreicon:hover {
    color: #9356dc;
}

.fonctionnement {
    background-color: #FFFFFF;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

h2 {
    padding: 10px 30px;

}

.middle,
.aftermiddle {
    margin: 10px;

}

.aftermiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

figcaption {
    margin: 20px;
    position: relative;

}

.fa-heart {
    font-size: 1.5rem;
    position: absolute;
    right: 2px;
    bottom: 10px;
    transition: transform 300ms ease-in-out;


}

.fa-heart:hover {

    transform: scale(1.2);
    font-weight: 900;
    color: transparent;


    background-image: linear-gradient(163deg, #ee73da 0%, #a05bdc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;

}

.fa-utensils .card1,
.card2,
.card3,
.card4 {

    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;

}

.card1,
.card2 {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.pic {

    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.new1,
.new2 {
    position: absolute;
    top: 25px;
    right: 25px;
    background: #99E2D0;
    border-radius: 2px;
    color: #008766;
    font-size: 14px;
    border-radius: 2px;
    padding: 7px;

}

footer {

    padding: 15px;
    background: rgba(23, 23, 23, 0.8);

}



.footerlg {
    color: rgb(245, 244, 241);
    font-family: 'Shrikhand', cursive;
    font-size: larger;
    margin: 0;
    padding-bottom: 20px;
}

.fa-utensils,
.fa-handshake-angle {
    color: white;
}

.footerlink {
    text-decoration: none;
    color: white;
    font-size: 16px;
    list-style-type: none;
}

.footerlink a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

/* menu */

.headerimg {

    width: 100%;
    height: 300px;
}

.menutitle {
    font-family: 'Shrikhand', cursive;
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding: 30px;
    position: relative;
}



header.a {
    display: flex;
    margin-right: auto;
    align-items: center;
    color: #3c3c3c;
    position: relative;
}

.fa-arrow-left {
    position: absolute;
    top: 25px;
    left: 25px;
}

.menu {
    background-color: #F7F7F7;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    position: relative;
    margin-top: -50px;
    padding: 10px;

}

.menucards {
    display: flex;
    flex-direction: column;
    padding: 10px;


}

.menucard {
    flex-direction: column;

    justify-content: start;
    font-size: 18px;
    text-decoration: none;
    display: flex;

    background: #FFFFFF;

    border-radius: 15.0431px;
    margin: 10px 0;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 69px;
    position: relative;
    padding: 15px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: transform 400ms ease-in-out;
}


.menuchecked {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 59px;
    height: 69px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    padding: 20px;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 400ms ease-in-out;
}

.fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
    width: 20px;
    height: 20px;
}

.menucard:hover {

    padding-right: 75px;

}

.menucard:hover .menuchecked {
    opacity: 1;
    transform: translate(-50px);
}

.menucard:hover .fa-check-circle {
    transform: rotate(360deg);
}

.menucard:hover .price {
    transform: translate(-50px);
}

h5 {
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 30px;
    border-bottom: 3px solid #99E2D0;
    width: 8%;
    padding-bottom: 10px;
}

.about1 {
    font-weight: 300;
    font-size: 12px;
    margin: 10px 10px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 30px;
}

.price {
    position: absolute;
    right: 2px;
    bottom: 20px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 30px;
    line-height: 0.9;
}

.order {
    padding: 20px;
}

.corazon {
    right: 20px;
    top: 30px;
}

.resto {
    background: #F7F7F7;
}



.entrees {
    -webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
    opacity: 0;

}

.plats {
    -webkit-animation: fadein 2s linear forwards;
    animation: fadein 2s linear forwards;
    opacity: 0;

}

.desserts {
    -webkit-animation: fadein 3s linear forwards;
    animation: fadein 3s linear forwards;
    opacity: 0;

}

@-webkit-keyframes fadein {
    50% {
        opacity: 0.5;
    }
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding-top: 5px;
}

/*MEDIA QUERIES*/
@media (min-width: 767px) {
    footer {


        width: 100%;
        padding: 60px 100px 20px;
    }



    .ft {
        flex-direction: row-reverse;
        display: flex;
        gap: 40px;
        justify-content: right;



    }

    .footerlinks {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }


    .start {
        background: #f6f6f6;
        text-align: center;
        width: 100%;
        padding: 40px 0;
    }


    .lg {
        width: 15%;
    }


    .middle,
    .aftermiddle {
        margin: 0px;

    }



    .restotitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }

    .filtretitle {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    h2 {
        position: relative;
        width: 80%;

    }

    .filtres {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        padding: 20px;
        margin: 30px;
    }

    .filtre1,
    .filtre2,
    .filtre3 {

        width: 25%;
        font-size: 16px;
        position: relative;
        justify-content: flex-start;

    }

    .number1,
    .number2,
    .number3 {
        position: relative;

        left: -10px;
        border-radius: 90%;
        background-color: #9356dc;
        color: white;
        padding: 1px 7px;
    }


    .describe {
        font-size: 14px;
        padding: 10px;

    }

    .aftermiddle {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin: 30px;
    }

    .card1,
    .card2,
    .card3,
    .card4 {

        height: 271px;
        width: 35%;
        margin: 30px 0;


    }



    .headerimg {
        width: 100%;
    }

    .menucards {
        display: flex;

    }

    .menucard {


        font-size: 16px;

    }

    .menu {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 25%;

    }

    .about1 {
        font-weight: 300;
        font-size: 15px;

        margin: 10px 10px 0 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .entrees {
        margin: 0 50px;
    }



    .plats {
        margin: 0 50px;
    }
}